<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ura Ranking - Login</title>
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <body>
    <div class="main-login">
      <div class="left-login">
        <h1>Ura Ranking</h1>
      </div>
      <div class="right-login">
        <div class="card-login">
          <h1>LOGIN</h1>
          <div class="textfield">
            <label>Usuário</label>
            <input type="text" id="usuario" placeholder="Digite o usuário" />
          </div>
          <div class="textfield">
            <label>Senha</label>
            <input type="password" id="senha" placeholder="Digite a senha" />
          </div>
          <button class="btn-login" id="btn-login">Login</button>
        </div>
      </div>
    </div>
    <script src="../static/js/validar.js"></script>
  </body>
</html>